<!--
 * @Author: xiuxiu
 * @Date: 2021-11-21 19:51:41
 * @LastEditTime: 2021-11-21 20:33:39
 * @FilePath: \code\vue\example\v-for.html
-->
<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../assets/js/vue.js"></script>
    <title>v-for 指令：解决模板循环问题</title>
</head>

<body>
    <h1>v-for 实例</h1>
    <hr>
    <div id="app">
        <ul>
            <!-- 
                需要哪个标签循环，v-for就写在那个上边。
             -->
            <li v-for='item in sortItems'>
                {{item}}
            </li>
        </ul>
        <hr>
        <ul>
            <li v-for='(student,index) in sortStrudent'>
                {{index+1}}.{{student.name}}-{{student.age}}
            </li>
        </ul>
    </div>
    <script>
        const vm = new Vue({
            el: '#app',
            data: {
                items: [20, 23, 18, 65, 32, 19, 5, 56, 41],
                students: [{
                    name: 'XiaoMing',
                    age: 18
                }, {
                    name: 'XiaoLi',
                    age: 20
                }, {
                    name: 'XiaoWang',
                    age: 19
                }, {
                    name: 'XiaoHong',
                    age: 22
                }, ]
            },
            computed: {
                sortItems() {
                    return this.items.sort(sortNumber)
                },
                sortStrudent() {
                    return sortByKey(this.students, 'age')
                }
            },
        })

        function sortNumber(a, b) {
            return a - b
        }

        function sortByKey(array, key) {
            return array.sort(function(a, b) {
                let x = a[key]
                let y = b[key]
                return ((x < y) ? -1 : ((x > y) ? 1 : 0))
            })
        }
    </script>
</body>

</html>
</body>

</html>

</html>